
#Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
RewriteBase /vm-manager/

AddType application/x-httpd-php5 .php

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
