
button.ds_search {margin-right: 20px; }
button.ds_add {}
button.ds_remove {}

//button.add      { background: transparent url(../images/arrow_right.png) no-repeat 2px 2px; padding-left: 20px;}
//button.remove   { background: transparent url(../images/arrow_left.png) no-repeat 2px 2px; padding-left: 20px;}
//button.search   { background: transparent url(../images/zoom.png) no-repeat 2px 2px; padding-left: 20px;}
span.ds_close   { background: transparent url(../images/cross.png) no-repeat 2px 2px; width: 20px; height: 20px; }

.dual-select .toolbar input[type="text"] {
	border: 1px solid #D3D3D3;
	-moz-border-radius: 4px; -webkit-border-radius: 4px;
}
