body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white url(bg.png) repeat-y left top;
	border-right: 1px solid #AFAFAF;
	border-bottom: 1px solid #AFAFAF;
	border-left: 1px solid #AFAFAF;
	padding: 0 20px;
}

#header
{
	margin: 0;
	padding: 0;
}

#content
{
    padding: 0 20px 20px 20px;
}

div.sidebar
{
	padding: 5px 20px 0 0;
}

#footer
{
	padding: 10px 10px 0 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #AFAFAF;
}

#logo
{
	background:transparent url(logo.png) no-repeat 10px 10px;
	padding: 20px 20px 0 119px;
	height: 70px;
	font-size: 200%;
	float: left;
}

#languages
{
	margin-top: 10px;
	margin-right: 20px;
	float: right;
}

#mainmenu
{
	background:white url(menubg.png) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#777777;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #000000;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: url(menubg.png) repeat-x top left;
	border-left: 5px solid #E7DFDA;
}

.portlet-title
{
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #000000;
	height: 15px;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0;
	padding: 5px 8px;
	background:#faf9f4;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.submenu
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.submenu li
{
	padding-bottom: 2px;
}

.submenu li a
{
	font: 12px Arial;
	color: #777777;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.submenu li a:visited
{
	color: #777777;
}

.submenu li a:hover, .submenu li.active > a
{
	color: #777777;
	background: #E7DFDA;
}

.submenu li ul
{
	list-style-type: none;
	margin: 0 0 0 20px;
	padding: 0;
}

.submenu li ul li
{
	padding-bottom: 2px;
}

.submenu li ul li a, .submenu li ul li span
{
	font: 12px Arial;
	color: #777777;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.submenu li ul li a:visited
{
	color: #777777;
}

.submenu li ul li a:hover, .submenu li ul li.active a, .submenu li ul li span
{
	color: #777777;
	background: #E7DFDA;
}

.column .step
{
	width: 100%;
	height: 3.5em;
	background-color: #FAF9F4;
	font-size:14px;
}
.column .step p
{
	font-size: 80%;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: 12px Arial;
	color: #777777;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #777777;
}

.operations li a:hover
{
	color: #777777;
	background: #E7DFDA;
}

ul.list
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 1.1em;
}

ul.list li
{
	padding: 5px 10px;
}
ul.list li a
{
	cursor: pointer;
	text-decoration: none;
}

tr.even {
	background-color: #FFFFFF;
}
tr.odd {
	background-color: #FAF9F4;
}

/* wizard */
#wzd-menu {
	padding: 0;
}

#wzd-menu li {
	background: #F4EDE3;
	color: #888;
	display: inline;
	font-weight: bold;
	list-style: none;
	margin: 0 19px 0 -23px;
	padding: 0.5em 10px 0.5em 23px;
	position: relative;
}

#wzd-menu li:before {
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	width:0;
	height:0;
	top:0px; /* controls vertical position */
	right:-20px; /* value = - border-left-width - border-right-width */
	bottom:auto;
    left:auto;
	border-width:15px 0 15px 20px;
	border-style:solid;
	border-color:transparent #F4EDE3;
	z-index: 1;
}

/* creates the smaller  triangle */
#wzd-menu li:after {
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	width:0;
	height:0;


	top:6px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	right:-15px; /* value = - border-left-width - border-right-width */
	bottom:auto;
    left:auto;
	border-width:9px 0 9px 15px;
	border-style:solid;
	border-color:transparent #fff;
	z-index: 1;
}

#wzd-menu li.wzd-first {
	margin-left:0;
	padding-left: 10px;
}

#wzd-menu li.wzd-last:before, #wzd-menu li.wzd-last:after {
	display: none;
}

#wzd-menu li.wzd-active {
	background: #a7d77e;
}

#wzd-menu li.wzd-active:before {
	border-color:transparent #a7d77e;
}

#wzd-menu li.wzd-previous {
	background: #E7DFDA;
}

#wzd-menu li.wzd-previous:before {
	border-color:transparent #E7DFDA;
}

#wzd-menu li a {
	text-decoration: none;
}

#wzd-menu li.wzd-active a, #wzd-menu li.wzd-previous a {
	color: #333;
}

/* jqgrid */
img.action
{
	margin-right: 3px;
}

img.superaction
{
	margin-right: 3px;
	border: 1px solid gray;
}
img.notallowed {
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.valigntop
{
	vertical-align: top;
	padding-top: 3px !important;
}